{% extends "home.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Matilda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/search_playlist">Playlist</a>
            </li>
        </ul>
        <form class="form-inline" action="/search" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="kw">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
</nav>
{% end %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <img src="{{ playlist.cover_img_url}}" class="img-thumbnail img-responsive">
            <h4>{{ playlist.name }}</h4>
        </div>
        <div class="table-responsive-lg">
            <table class="table table-hover table-sm ">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">NAME</th>
                    <th scope="col">SINGER</th>
                    <th scope="col">SOURCE</th>
                    <th scope="col">★</th>
                </tr>
                </thead>
                <tbody>
                {% for index, song in enumerate(playlist.songs, start=1) %}

                <tr class="{{'table-danger' if not song.is_playable else ''}}">
                    <td>{{index}}</td>
                    <td>{{song.song_name}}</td>
                    <td>{{','.join([s.name for s in song.singer]) if song.singer else ''}}</td>
                    {% if song.is_playable%}
                    <td class="{{'table-success' if song.papa == 'QQMusic' else 'table-info'}}">{{song.papa}}</td>
                    {% else %}
                    <td></td>
                    {% end %}
                    <td><a href="{{song.song_media_url}}">🎵</a></td>
                </tr>

                {% end %}
                </tbody>
            </table>

            <!--<ul class="list-group" id="playlist">-->

                <!--{% for song in playlist.songs %}-->

                <!--<li class="list-group-item {{'list-group-item-success' if song.papa == 'QQMusic' else 'list-group-item-info'}}-->
                <!--{{'disabled' if not song.is_playable else ''}}">-->
                    <!--<a href="{{song.song_media_url}}">{{song.song_name}}</a>-->
                    <!--{{song.singer[0].name if song.singer else ""}}-->
                    <!--{{song.papa}}-->
                <!--</li>-->

                <!--{% end %}-->
            <!--</ul>-->
        </div>

    </div>
</div>
{% end %}
